body {
	background-color: #262626;
}
header {
	margin: auto;
	width: 85%;
	height: auto;
	background-color: #ff1a1a;
	color: white;
	text-align: left;
	border: 2px white;
	outline-style: solid;
	outline-color: black;
}